<ion-view view-title="Projects" class="rasor">
    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" href="#/app/newProject">
        <i class="button button-icon icon ion-plus-round" style="margin-top: 7px"></i>
    </md-button>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="entry in localProjects" style="padding: 0px;">
                <div style="float:left; width: 60%; line-height: 49px; padding-left: 10px;">
                    <a href="#/app/projects/{{entry}}" style="display:block; color:rgb(68,68,68); text-decoration:none;">{{entry}}</a>
                </div>
                <div style="float:right; background:white;">
                    <button class="button button-clear button-positive" ng-click="upload(entry, $event,$index)">
                        <i class="icon ion-ios-upload"></i>
                    </button>
                    <button class="button button-clear button-assertive" ng-click="delete(entry, $event, $parent.$index)">
                        <i class="icon ion-trash-b"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
